$team_colors: (
{%- for team_abbreviation, hex_color in team_colors.items() %}
  "{{ team_abbreviation }}": {{ hex_color }},
{%- endfor %}
);

$category_names: (
{%- for category_name in category_name_filters | sort %}
  "{{ category_name }}",
{%- endfor %}
);

$category_styling_by_name: (
{%- for category_name, category_styling in category_styling_by_name.items() %}
  "{{ category_name }}": (
  {%- for setting_name, setting_value in category_styling.items() %}
    "{{ setting_name }}": {{ setting_value }},
  {%- endfor %}
  ),
{%- endfor %}
);
