{% import 'event_card.html' as macro %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Los Verdes - Upcoming Events - Calendar: {{ calendar.calendar_id }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='material_1-3-0.green-light_green.min.css') }}" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">


  {% assets "style" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}

  <script defer href="{{ url_for('static', filename='material_1-3-0.min.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header lv-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title mdl-layout--large-screen-only">Events</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{{ calendar.cal_cid_href }}" target="_blank">
            <i class="material-icons">event</i>
            &nbsp;
            Add to Google Calendar
          </a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Events</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ calendar.cal_id_href }}" target="_blank"><b>calendar ID</b>
          {{ calendar.calendar_id | truncate(30) }}
        </a>
        <span class="mdl-navigation__link disabled">
          <b># events loaded</b>
          <br>
          {{ calendar.events|length }}
        </span>

        <span class="mdl-navigation__link">
          <b>date range</b>
          <br>
          {{ (calendar.events_time_min | parse_tz_datetime).strftime('%x') }}
          to
          {{ (calendar.events_time_max | parse_tz_datetime).strftime('%x') }}
        </span>

        <span class="mdl-navigation__link">
          <b>last data refresh</b>
          <br>
          {{ (calendar.last_refresh | replace_tz).strftime('%c %Z') }}
        </span>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        <input type="radio" id="all" name="categories" value="all" checked>
        {% for category in calendar.default_category_names + calendar.additional_category_names %}
        <input type="radio" id="{{ category }}" name="categories" value="{{ category }}" {% if category in
          calendar.empty_category_names %}disabled{% endif %}>
        {% endfor %}
        <ol class="filters">
          <li>
            <label class="mdl-chip" for="all">
              <span class="mdl-chip__text">all</span>
            </label>
          </li>
          {% for category in calendar.default_category_names + calendar.additional_category_names %}
          <li>
            <label id="{{ category }}-label" class="mdl-chip" for="{{ category }}">
              <span class="mdl-chip__text">{{ category }}</span>
            </label>
            {% if category in calendar.empty_category_names %}
            <div class="mdl-tooltip" data-mdl-for="{{ category }}-label">
              No events currently on the calendar for:
              <pre>{{ category }}</pre>
              <br>
              Please check back later! 🖤💚
            </div>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
        <div class="mdl-grid event-cards">
          {% for event in calendar.events %}
          {{ macro.event_card(event) }}
          {% endfor %}
        </div>
      </div>

  </div>
  </main>
  </div>
</body>

</html>
