$team_colors: (
  "atl": #9d2235,
  "cin": #003087,
  "clt": #0085ca,
  "col": #8a2432,
  "dal": #c6093b,
  "dc": #212121,
  "hou": #101820,
  "la": #004b87,
  "lafc": #212121,
  "mia": #212322,
  "min": #737b82,
  "mtl": #212121,
  "nsh": #201547,
  "orl": #61259e,
  "por": #004812,
  "rbny": #ba0c2f,
  "rsl": #001e61,
  "sea": #64a608,
  "sj": #0051ba,
  "skc": #0c2340,
  "van": #002244,
);

$category_names: (
  "home-games",
  "la-murga",
  "away-games",
  "los-verdes",
  "misc",
);

// 
$category_background_images: (
  "category-1": "1dv2K9ep6wldSqYbhH8nizRQW2PTPwdLW.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20220127T020000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-l4nrljp1usig7q18mlv0hfd0vnr20210826T010000_20220127T020000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20220224T020000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20220331T010000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-l4nrljp1usig7q18mlv0hfd0vnr20210826T010000_20220331T010000Z": "1kn75kcrW87cf3ovFdeWPmkBpcNwhOliN.gif",
  "event-3tu77blthbevg4tivjhf417i9l": "1ktGmn9MIVebrRsSwtlkihwQUPqgIyjBx.jpg",
  "event-2g6rhl3uou85c832s0ume8hh3f_20220428T010000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20220526T010000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20220630T010000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20220728T010000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20220901T010000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-5245o7bnvmfd3mftb9ln813bfm_20220909": "14Ejo1_AhNKjz6vJ1iljGOnEGOL2GqX6D.jpg",
  "event-2g6rhl3uou85c832s0ume8hh3f_20220929T010000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20221027T010000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20221201T020000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
  "event-2g6rhl3uou85c832s0ume8hh3f_20221229T020000Z": "1Iw28rZtxxc7V6WHPiWATAKodWNiZaLT1.png",
);

$category_background_colors: (
  "category-1": rgb(0, 0, 0),
);

$category_text_fg_colors: (
  "category-1": rgba(255, 255, 255, 0.9),
);

$category_text_bg_colors: (
  "category-1": rgb(0, 177, 64),
);