$team_colors: (
  "atl": #9d2235,
  "cin": #003087,
  "clt": #0085ca,
  "col": #8a2432,
  "dal": #c6093b,
  "dc": #212121,
  "hou": #101820,
  "la": #004b87,
  "lafc": #212121,
  "mia": #212322,
  "min": #737b82,
  "mtl": #212121,
  "nsh": #201547,
  "orl": #61259e,
  "por": #004812,
  "rbny": #ba0c2f,
  "rsl": #001e61,
  "sea": #64a608,
  "sj": #0051ba,
  "skc": #0c2340,
  "van": #002244,
);

$category_names: (
  "away-games",
  "home-games",
  "la-murga",
  "los-verdes",
  "misc",
);

$category_background_images: (
  "category-8": "1abvwXtd4ipJWtidsYzwKvNjzqh-HJFGd.png",
  "category-2": "1AATD3ehu6HS-q49rso0jC8P6ZoKaGsjN.png",
);

$category_background_colors: (
  "category-4": rgb(0, 0, 0),
  "category-3": rgb(0, 177, 64),
  "category-8": rgb(0, 0, 0),
  "category-2": rgb(0, 0, 0),
  "category-0": rgb(0, 0, 0),
);

$category_text_fg_colors: (
  "category-3": rgba(255, 255, 255, 0.9),
  "category-2": rgba(255, 255, 255, 0.9),
);

$category_text_bg_colors: (
  "category-3": rgb(0, 0, 0),
  "category-2": rgb(0, 177, 64),
);