$team_colors: (
  
  "atl": #9d2235,
  
  "cin": #003087,
  
  "clt": #0085ca,
  
  "col": #8a2432,
  
  "dal": #c6093b,
  
  "dc": #212121,
  
  "hou": #101820,
  
  "la": #004b87,
  
  "lafc": #212121,
  
  "mia": #212322,
  
  "min": #737b82,
  
  "mtl": #212121,
  
  "nsh": #201547,
  
  "orl": #61259e,
  
  "por": #004812,
  
  "rbny": #ba0c2f,
  
  "rsl": #001e61,
  
  "sea": #64a608,
  
  "sj": #0051ba,
  
  "skc": #0c2340,
  
  "van": #002244,
  );


// TODO: these need to be populated by the settings we pull down from google drive
$category_names: los-verdes, la-murga, home-games, away-games;



.misc.event-card.mdl-card {
  > .mdl-card__title {
    
  }

  mark {
    
    
  }
}


.los-verdes.event-card.mdl-card {
  > .mdl-card__title {
    
    background: #000000 url("static/1dv2K9ep6wldSqYbhH8nizRQW2PTPwdLW.png") center / cover;
    
  }

  mark {
    
    background-color: rgba(0, 177, 64, 0.9);
    
    
    color: rgb(255, 255, 255);
    
  }
}


.la-murga.event-card.mdl-card {
  > .mdl-card__title {
    
  }

  mark {
    
    
  }
}


.home-games.event-card.mdl-card {
  > .mdl-card__title {
    
  }

  mark {
    
    
  }
}


.away-games.event-card.mdl-card {
  > .mdl-card__title {
    
  }

  mark {
    
    
  }
}
