$bright-verde: #0bac44;

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  // Sort out better formatting (large width?) side nav stuff here:
  padding-left: 4px;
  padding-right: 4px;
}

// mark {
//   background-color: rgba(0, 0, 0, 0);
// }

.event-card.mdl-card {
  width: 100%;

  > .mdl-card__title {
    height: 176px;
  }

  .expandable-content {
    display: none;
    overflow: hidden;
  }

  .mdl-list__item {
    padding: 0;
  }

  mark {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
  }

  small {
    opacity: 1;
    font-size: medium;
  }

  summary {
    cursor: pointer;
  }
}

// Wrapping the following in .page-content mostly just to "organize" bits related to our pure CSS card filtering jazz
.page-content {
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

  .filters {
    text-align: center;
    margin-bottom: 2rem;
  }

  .filters * {
    display: inline-block;
  }

  .filters label {
    cursor: pointer;
    transition: all 0.1s;
  }

  .filters label:hover {
    background: $bright-verde;
    color: var(--white);
  }
}

.empty-event-card {
  width: 100%;
}

[value="all"]:checked ~ .event-cards [data-category] {
  display: block;
}

[value="all"]:checked ~ .empty-cards [data-category] {
  display: none;
}

// TODO: these need to be populated by the settings we pull down from google drive
$categories: away-games, los-verdes, home-games, la-murga, misc;

@each $category in $categories {
  [value="$category"]:checked ~ .event-cards .mdl-cell:not([data-category~="$category"]) {
    display: none;
  }
  [value="$category"]:checked ~ .empty-cards .mdl-cell:not([data-category~="$category"]) {
    display: none;
  }
}

[value="all"]:checked ~ .filters [for="all"] {
  background: $bright-verde;
  color: white;
}
@each $category in $categories {
  [value="$category"]:checked ~ .filters [for="$category"] {
    background: $bright-verde;
    color: white;
  }
}

// [value="all"]:checked + label {
//   background: $bright-verde;
// }
@each $team, $color in $team_colors {
  .event-card-atxvs#{$team} > .mdl-card__title {
    // background-image: linear-gradient((random(50) + 100)+deg, $color, $bright-verde);
    background-image: linear-gradient(125deg, $color, $bright-verde);

    mark {
      padding: 2px;
      color: white;
      background-color: rgba($bright-verde, 0.75);
    }
  }
}

@each $team, $color in $team_colors {
  .event-card-#{$team}vsatx > .mdl-card__title {
    // background-image: linear-gradient((random(50) + 100)+deg, $bright-verde, $color);
    background-image: linear-gradient(125deg, $bright-verde, $color);

    mark {
      padding: 2px;
      color: white;
      background-color: rgba($color, 0.75);
    }
  }
}
