<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lv-events-etc </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-green.min.css" /> -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-light_green.min.css" />

  {% assets "style" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Events</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="" target="_blank">
            <i class="material-icons">event</i>
            &nbsp;
            Add to Google Calendar
          </a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Events</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ cal_id_href }}" target="_blank"><b>calendar ID</b>:
          {{ calendar_id | truncate(25) }}
        </a>
        <span class="mdl-navigation__link disabled">
          <b># events loaded</b>:
          <br>
          {{ events|length }}
        </span>
        <span class="mdl-navigation__link">
          <b>date range</b>:
          <br>
          {{ events_time_min.strftime('%x') }}
          to
          {{ events_time_max.strftime('%x') }}
        </span>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        {% block container %}{% endblock %}
      </div>
    </main>
    <!-- <footer class="mdl-mega-footer">
      {% block footer %}{% endblock %}
    </footer> -->
  </div>
</body>

</html>
