{% extends 'base.html' %}

{% block container %}
{{ calendar_events }}
<main class="calendar-contain">

  <section class="title-bar">
    <span class="title-bar__month">
      {{ month_abbr }} {{ the_year }}
    </span>
  </section>

  <aside class="calendar__sidebar">
    <ul class="sidebar__list">

      {% for event in events %}
      <li class="sidebar__list-item">

        <span class="sidebar__heading">
        {{ event.start.strftime('%b %d') }} - {{ event.summary }}
        </span>
        <br>
        <span class="list-item__time">
          🕓 {{ event.start.strftime('%I:%M %p') }} - {{ event.end.strftime('%I:%M %p') }}
        </span>
      </br>
        {{ event.description|truncate(100, False, '...', 0) }}
      </li>
      {% endfor %}
    </ul>
    <!-- <li class="sidebar__list-item sidebar__list-item--complete"><span class="list-item__time">8.30</span> Team Meeting -->
  </aside>


  <section class="calendar__days">
    <section class="calendar__top-bar">

      {% for day in week_header %}
      <span class="top-bar__days">{{ day }}</span>
      {% endfor %}
    </section>
    {% for calendar_date_events_batch in calendar_date_events|batch(7) %}
    <section class="calendar__week">
      {% for calendar_date_event in calendar_date_events_batch %}

      <div
           class="calendar__day{% if not calendar_date_event.active %} inactive{% endif %}{% if calendar_date_event.verde %} verde{% endif %}">
        <span class="calendar__date">{{ calendar_date_event.datetime.strftime('%d') }}</span>
        <span class="calendar__task">{{ calendar_date_event.num_events }} </span>
      </div>
      {% endfor %}
    </section>
    {% endfor %}
  </section>

</main>

{% endblock %}
